{% extends "voc2.j2" %}

{% block summary %}
<p>Een vocabularium is een verzameling herbruikbare termen (klassen en eigenschappen), waarvan de betekenis wordt gegeven door een label en een definitie. Er zijn aanvullende formele overeenkomsten beschikbaar voor de termen die in dit domein zijn gedefinieerd.
De aanvullende formele overeenkomsten zijn te vinden in externe bronnen voor externe termen.</p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
