{% extends "ap2.j2" %}

{% block summary %}
<p>
The OSLO-IMKL application profile shows how terms from the corresponding <a href="https://data.vlaanderen.be/ns/mobiliteit/imkl">vocabulary</a> should be used to represent cable and pipeline information, both above-ground and underground.{% endblock %}
</p>
{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
