{% extends "ap2_en.j2" %}

{% block summary %}
<p>The OSLO Cables and Pipes application profile shows how terms from the associated <a href="https://data.vlaanderen.be//ns/nutsvoorzieningen">vocabulary</a> should be used to describe cables and pipes/ducts.</p>
<p>These can be located both above and below ground. As far as the underground cables and pipes or ducts are concerned, the description is such that all elements are present that contribute to limiting excavation damage.</p>
<p>The model builds on <a href="https://knowledge-base.inspire.ec.europa.eu/utility-and-governmental-services_en">INSPIRE Utility Services</a> and models on which that model is based, mainly INSPIRE Networks.</p>
<p>Utilities such as cables and pipes or ducts are conceived as a network (a UtilityNetwork) in which they form linear elements, connected by point objects such as splitters, connectors, connections mounted in or on cabinets, towers, poles, etc.</p>
<p>Cables and pipes or ducts are collections of links in the network, UtilityLinkSets composed of UtilityLinkSequences or Links. The main types of link sets are Cables, Pipes and Ducts. Pipes and Ducts are conduits: they carry substances such as water, waste water, gas or contain Cables or other Pipes or Ducts.</p>
<p>The Cables class is divided into Electrical Cables and Telecommunications Cables. In Pipes, a distinction is made between OilGasChemicalsPipes, Sewer Pipes, Water Pipes and Thermal Pipes.</p>
<p>The point objects that realize the connections in the network (e.g. couplings, connections, pumps, meters) are the nodes of the network, the so-called Utility Nodes. They can stand alone but are typically mounted on larger sized point objects such as Poles or Towers or sit in Cabinets on the street. We call these Utility Node Containers.</p>
<p>Some Utility Elements together form a facility or installation that can be separately described as an Activity Complex.</p>
<p>The model includes various supporting classes and data types, including to supplement the network information with topographical information (class Topographic Element) or zones where digging is not allowed (class Protected Area) or to annotate the objects (class Annotation).</p>
<p>The geometry of cables and pipes and nodes in the network can be described in 2D or 2.5D.</p>
<p>If 2.5D is not possible or is insufficient, additional information about the VerticalPosition can be provided, both relative (to a Reference Surface) and absolute (Direct Position in a vertical coordinate system such as TAW). This information is important to avoid excavation damage.</p>
{% endblock %}

{% block images %}
<a href="/doc/applicatieprofiel/kabels-en-leidingen/kandidaatstandaard/2023-12-19/html/overview_en.jpg" target="_blank">
<img src="/doc/applicatieprofiel/kabels-en-leidingen/kandidaatstandaard/2023-12-19/html/overview_en.jpg" />
 </a>
{% endblock %}
