{% extends "ap2_en.j2" %}

{% block summary %}
<p>
The OSLO-IMKL application profile shows how terms from the corresponding <a href="https://data.vlaanderen.be/ns/mobiliteit/imkl">vocabulary</a> should be used to represent cable and pipeline information, both above-ground and underground.
</p>

<p>
With this data, the aim is to reduce excavation damage underground by mapping key elements. 
</p>

<p>
The model consists of five parts. The first part describes the components of a network, as defined in INSPIRE's European standard - Utility Services.
</p>

<p>
The second part is under Utility Link Set. This part distinguishes the difference between cables, pipes and ducts. In turn, cables and pipes are also further subdivided into their different subtypes.
</p>

<p>
The third section describes the subdivision of Utility Node and Utility Node Container. The Utility Node represents how a node is represented in the network. The Utility Node Container represents which elements comprise the node. 
</p>

<p>
The fourth part is the code lists in green. These non-terminal lists represent the completion of specific attributes. 
</p>

<p>
The last part describes the data types coloured in yellow. This section coveres all the different data types used in the model. Some dataypes express complex data such as Depth, hence the complexity of some datatypes.
</p>
{% endblock %}
