{% extends "ap2.j2" %}

{% block summary %}
<p> Het OSLO-Kabels en Leidingen applicatieprofiel laat zien hoe termen uit het bijbehorende <a href="https://data.vlaanderen.be/ns/mobiliteit/imkl">vocabularium</a> moeten worden gebruikt om kabel- en pijpleidinginformatie weer te geven, zowel bovengronds als ondergronds. </p>
<p> Met deze gegevens is het de bedoeling om graafschade ondergronds te beperken door belangrijke elementen in kaart te brengen. </p>

<p> Het model bestaat uit vijf delen. Het eerste deel is het bovenste deel van het model. Dit beschrijft de componenten van een netwerk, zoals gedefinieerd in de Europese standaard INSPIRE - Utility Services. </p>

<p> Het tweede deel bevindt zich onder de Nutsvoorzieninglinkset. Daaronder wordt onderscheid gemaakt tussen kabels, leidingen en kanalen. Leidingen worden op hun beurt weer verder onderverdeeld in de verschillende soorten leidingen.</p>

<p> De derde sectie beschrijft de onderverdeling in Nutsvoorzieninglinksequentie, nutsvoorzieninglink, nutsvoorzieningsknoop en nutsvoorzieningsknoopcontainer. Deze elementen bepalen de vorm en richting van het netwerk. </p>

<p> Het vierde deel zijn de codelijsten in groen. Deze niet-eindige lijsten vertegenwoordigen de voltooiing van specifieke attributen. </p>

<p> Het laatste deel zijn de datatypes aan de rechterkant, die geel gekleurd zijn. Dit deel beschrijft alle verschillende datatypes. </p>
{% endblock %}
