{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium Nutsvoorzieningen definieert termen die toelaten een netwerk van nutsvoorzieningen te beschrijven.</p>
{% endblock %}

{% block license %}
<p>
<spanrel="dct:type"property="dct:title"href="http://purl.org/dc/dcmitype/Text"xmlns:dct="http://purl.org/dc/terms/">Cette spécification</span> de <a rel="cc:attributionURL"property="cc:attributionName"href="https://www.vlaanderen.be/digitaal-vlaanderen"xmlns:cc="http://creativecommons.org/ns#">Digitaal Vlaanderen</a> est publiée sous <a href="{{ metadata.license }}"rel="license">"Licence modèle Free Reuse - v1.0"</a>.
</p>
{% endblock %}
