{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Le vocabulaire des Services définit des termes permettant de décrire un réseau de services.</p>
{% endblock %}

{% block license %}
<p>
<spanrel="dct:type"property="dct:title"href="http://purl.org/dc/dcmitype/Text"xmlns:dct="http://purl.org/dc/terms/">Cette spécification</span> de <a rel="cc:attributionURL"property="cc:attributionName"href="https://www.vlaanderen.be/digitaal-vlaanderen"xmlns:cc="http://creativecommons.org/ns#">Digitaal Vlaanderen</a> est publiée sous <a href="{{ metadata.license }}"r
